body {
    background: url('cv\ backgound.jpg') ;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    display: flex;
    height: 100vh;
    backdrop-filter: blur(4px);
}
.cv-container {
    display: flex;
    flex-wrap: wrap;

        
    
    background-size: 100% 100%;
    background-position: center;
    color: white; }

header, section, aside, article, footer {
    display: block;
    margin: 10px;
}

h1, h2, h3 {
    color: #bbe8ff;
}

.profile-image-container {
    width: 200px;
    height: 200px;
    border: 5px solid #a3cee3;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   
    display: block;
}

.name {
    margin-top: 0;
    text-align: left;
    
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.left-content {
    flex: 1;
    margin-right: 20px; 
}

.right-content {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.other-frame {
    background-color: rgb(58, 84, 151);
    border: 5px solid #98c1d6;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
}

.other-frame h2 {
    color: #004466;
}



.skill-frame, .experience-frame {
    background-color: rgb(58, 84, 151);
    border: 5px solid #98c1d6;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px; 
}

.skill-frame h2, .experience-frame h2 {
    color: #004466;
}


.left-content {
    flex: 1;
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.other-frame, .skill-frame, .experience-frame {
    margin-bottom: 20px; 
}
.icons{
    width: 30px;
    height: 30px;
}
.icons img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;


@media (max-width: 768px) {
    .cv-container {
        flex-direction: column; 
    }

    .left-content {
        margin-right: 0; 
    }
}

}
.icons {
    display: flex;
    gap: 10px;
}

.icons h4 {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

.icons img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

